$green: rgb(30, 215, 96);
$light-black: rgb(40, 40, 40);
$black: rgb(24, 24, 24);
$grey: rgb(170, 170, 170);
$sand: rgb(200, 200, 200);
$white: rgb(255, 255, 255);
$blue: #4688d7;

// spacing 
$padding-xs  : 5px;
$padding-sm  : 10px;
$padding     : 15px;
$padding-lg  : 30px;
$padding-xl  : 60px;

$margin-xs  : 5px;
$margin-sm  : 10px;
$margin     : 15px;
$margin-lg  : 30px;
$margin-xl  : 60px;

// borders
$border-radius: 15px;


// Font-sizes 
$x-small: 11px;
$small: 14px;
$medium: 16px;
$large: 20px;
$x-large: 24px;
$xx-large: 36px;
$xxx-large: 52px;


@media (max-width: 768px) {
    
      .navigation {
  
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        
        &__list {
          margin-bottom: 0;
          width: calc( 100% / 3 );
          text-align: center;
          
          &__item {
            
            width: 100%;
            text-align: center;
            
            i {
              display: none;
            }
            
            span {
              margin: 0 auto;
            }
            
            &:hover {
              border: none;
            }
            
          }
          
        }
  
      }
  
    }
    .playing {
        
        & {
          background: $light-black;
          border-bottom: 1px solid $black;
          
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
        }
        
        &__art {
          
          img {
            width: 50px;
            height: 50px;
          }
          
        }
        
        &__song {
          color: $grey;
          padding-left: $padding;
          
          display: flex;
          flex-flow: column wrap;
          
          a {
            color: $grey;
            
            &:hover {
              color: $white;
              cursor: pointer;
            }
          }
          
        }
        
        &__add {
          margin-left: auto;
          padding-right: $padding;
          color: $grey;
        }
        
      }
      
        @media (max-width: 768px) {
        
        .playing {
          border-top: 1px solid $black;
        }
        
      }  


.playlist {
    
    & {
      padding: $padding;
      background: $light-black;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }
    
    &:hover {
      background: lighten( $light-black, 10% );
      
      a {
        color: $white;
      }
    }
    
    a {
      color: $grey;
      
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      
      &:hover {
        text-decoration: none;
      }
      
      i {
        font-size: $x-large;
        color: $white;
        margin-right: $margin;
      }
      
    }
    
  }
  
    @media (max-width: 768px) {
    
    .playlist {
  
      display: none;
  
    }
  
  }